.trbody{
	background-color: #4F3E47 !important;
	font-family: "Open Sans" !important;
	font-weight: bold !important
}

.trbody th{
	color: #fff;
}

.tdvalue{
	font-family: "Open Sans" !important;
	color: #4F3E47 !important; 
	font-weight: bold !important
}

.titulo{
	font-family: "Century Gothic";
	color: #503F48;
}

#titleTab{
	font-family: "Open Sans" !important;
	font-size: 14px !important;
	font-weight: bold;
}
#titleTab2{
	font-family: "Open Sans" !important;
	color: #4F3E47;
	font-size: 12px !important;
	font-weight: bold;
}

#titleTab2 label{
	font-family: "Open Sans" !important;
	color: #4F3E47;
	font-size: 13px !important;
	font-weight: bold;
}

#modalFilial {
	max-width: 72%;
	max-height: 35rem;
}

.reveal-modal input {
	height: 1.8rem !important;
}