<br/>
<div class="row"></div>
<div class="large-2 large-offset-1 columns">
	<h3 class="titulo">{{nome}}</h3>	
</div>
<div style="position:relative;left:8.5em;" class="large-1 large-offset-4 columns">
	<a href="" ng-click="openModalGrupo('cadastrar')">
		<img src="img/tables/add.png">
	</a>	
</div>
<div style="position:relative;left:3.5em;" class="large-1 columns">
	<a href="" ng-click="abrindoSearch()">
		<img src="img/tables/search.png">
	</a>	
</div>
<div class="large-3 columns">
	<div class="{{classe}}" ng-show="opensearch">
		<div class="large-4 columns">
			<select id="selectSearch" ng-click="filtrarPorSelect()">
				<option value="undefinied"></option>
				<option value="codigo">Código</option>
				<option value="descricao">Descrição</option>
				<option value="abreviacao">Abreviação</option>
			</select>
		</div>
		<div class="large-8 columns" id="inputSearch">
			<input type="text" ng-model="buscarGrupos[filters]" id="campoBuscar" placeholder="Pesquisar..." disabled />
		</div>
	</div>
</div>
</div>

<div class="small-12 medium-12 large-12 columns">
	<table class="small-8 medium-8 large-8 large-offset-1 columns">
		<tr class="trbody">
			<th>Código</th>
			<th>Descrição</th>
			<th>Abreviação</th>
			<th>Tipo</th>
			<th>Ações</th>
		</tr>

		<tr ng-repeat="teste in filiais | filter:buscarGrupos">
			<td class="tdvalue">{{teste.grupo}}</td>
			<td class="tdvalue">{{teste.descricao}}</td>
			<td class="tdvalue">{{teste.abreviacao}}</td>
			<td class="tdvalue">{{teste.tipoProduto}}</td>
			<td>
				<a href="" ng-click="openModalExcluir(teste.descricao, teste.grupo)"><img src="img/tables/remover.png"></a>
				<a href="" ng-click="openModalGrupo('editar', teste.grupo)"><img src="img/tables/editar.png"></a>
				<img src="img/tables/tributar.png">
			</td>
		</tr>
	</table>
	<div class="small-3 medium-3 large-2 columns" style="position:relative;top:20em;">
		<nav ng-show="totalPorPagina < totalRegistro">
	        <ul class="pagination">
	         <a ng-click="prevPage(anterior)" ng-hide="prevDisable" style="position:relative;right:11em;"><img src="img/tables/prev.png"></a>
	            <li ng-repeat="j in pagina">
	                <a href ng-click="loadListPagination($index)" ng-if='$index<=2' style="font-size:18px;width:2em;height:30px;border-radius: 5px;color: #4F3E47;rigth:30px;">
	                    {{showPaginas[$index]}}
	                    <div id="marcador">
	                    		<span>{{showPaginas[$index]==atual ? '¨' : ''}}</span>
	              		</div>
	                </a>
	            </li>
	         <a ng-click="nextPage(proxima)" style="position:fixed;" ng-hide="nextDisable"><img src="img/tables/next.png"></a>	
	        </ul>
	    </nav>
	</div>

</div>

<!-- Modal de cadastro de  Grupos-->
<div class="small-12 medium-12 large-12 columns">
	<div id="modalGrupos" class="reveal-modal medium collapse"  data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	  <h3 id="modalTitle">Adicionar Grupo</h3>
	  <br/>
	  	<div class="small-12 medium-12 large-12 columns">
		  	<ul class="tabs" data-tab role="tablist" id="titleTab">
	  			<li class="tab-title {{activeIdent}}" role="presentation"><a  href="" ng-click="abaIdentificacao()" role="tab" tabindex="0">Identificação</a></li>
	  			<li class="tab-title {{activeClass}}" role="presentation"><a href="" ng-click="abaClassificacao()" role="tab" tabindex="0">Classificação</a></li>
			</ul>
			
			<div class="tabs-content" id="titleTab2">
	  		  <div role="tabpanel" class="content {{abaIdent}}">
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-2 medium-2 large-2 columns">
	    				Código
	    			</div>
	    			<div class="small-6 medium-6 large-10 columns">
	    				Descrição
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-2 medium-2 large-2 columns">
	    				<input class="form-control" type="text" ng-model="grupo.grupo" />
	    			</div>
	    			<div class="small-6 medium-6 large-10 columns">
	    				<input class="form-control" type="text" ng-model="grupo.descricao" />
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-4 medium-4 large-4 large-offset-2 columns">
	    				Abreviação
	    			</div>
	    			<div class="small-3 medium-3 large-3 large-offset-1 columns">
	    				Desconto Máximo
	    			</div>
	    			<div class="small-3 medium-3 large-2 columns">
	    				Markup
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-5 medium-5 large-5 large-offset-2 columns">
	    				<input class="form-control" type="text" ng-model="grupo.abreviacao" />
	    			</div>
	    			<div class="small-3 medium-3 large-3 columns">
	    				<input class="form-control" type="text" ng-model="grupo.descontoMaximo" />
	    			</div>
	    			<div class="small-3 medium-3 large-2 columns">
	    				<input class="form-control" type="text" ng-model="grupo.markupPadrao" />
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-4 medium-4 large-4 large-offset-2 columns">
	    				Observação
	    			</div>
	    			<div class="small-3 medium-3 large-3 large-offset-1 columns">
	    				Imobilizado
	    			</div>
	    			<div class="small-3 medium-3 large-2 columns">
	    				Inventario
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-5 medium-5 large-5 large-offset-2 columns">
	    				<input class="form-control" type="text" ng-model="grupo.observacao" />
	    			</div>
	    			<div class="small-3 medium-3 large-3 columns">
	    				<div class="switch round">
						  <input id="imobilizado" type="checkbox" ng-model="grupo.isImobilizado">
						  <label for="imobilizado"></label>
						</div>
	    			</div>
	    			<div class="small-3 medium-3 large-2 columns">
	    				<div class="switch round">
						  <input id="inventario" type="checkbox" ng-model="grupo.isInventario">
						  <label for="inventario"></label>
						</div>
	    			</div>
	    		</div>
			  </div>
			  <div role="tabpanel" id="abaClasse" class="content {{abaClass}}">
			  	<div class="small-12 medium-12 large-12 columns">
			    	<div class="small-4 medium-4 large-4 columns">
	    				Tipo de Produto
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				Aliquota de Impressora Fiscal
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				Classificacao Fiscal	
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-4 medium-4 large-4 columns">
	    				<select ng-model="grupo.tipoProduto">
				          <option ng-repeat="apendice in apendices" value="{{apendice.elementoTabela}}">{{apendice.apendiceElemento}}</option>	
       					</select>
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				<select ng-model="grupo.aliquotaImpressoraFiscal">
				          <option ng-repeat="aliquota in aliquotas" value="{{aliquota.elementoTabela}}">{{aliquota.elementoTabela+' - '+aliquota.descricaoElemento }}</option>
       					</select>
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				<select ng-model="grupo.classfiscal">
				          <option value="husker">Husker</option>
				          <option value="starbuck">Starbuck</option>
       					</select>
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
			    	<div class="small-4 medium-4 large-4 columns">
	    				Classificacao da Despesa
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				Classificação da Receita
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				Comissao	
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-4 medium-4 large-4 columns">
	    			<select ng-model="grupo.fluxoSaida">
	    					<option ng-repeat="fluxo in fluxos" value="{{fluxo.codigoFluxo}}">{{fluxo.codigoFluxo +' - '+ fluxo.descricao}}</option>
	    				</select>
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				<select ng-model="grupo.fluxoEntrada">
	    					<option ng-repeat="fluxo in fluxos" value="{{fluxo.codigoFluxo}}">{{fluxo.codigoFluxo +' - '+ fluxo.descricao}}</option>
	    				</select>
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				<select ng-model="grupo.comissao">
				          <option ng-repeat="comissao in comissoes" value="{{comissao.apendiceElemento}}">{{comissao.apendiceElemento}}</option>
       					</select>
	    			</div>
	    		</div>
			  </div>	  
			</div>
	   	</div>

	   	<div class="small-12 medium-12 large-12 columns">
		   	<div class="small-4 medium-4 large-2 large-offset-7 columns" style="position:relative;left:2em;">
		   		<button ng-click="cadastrarGrupo(grupo)" class="button small info radius">Cadastrar</button>
		   	</div>
		   	<div class="small-4 medium-4 large-3 columns" style="position:relative;left:2.8em;">
		   		<button ng-click="fecharModal()" class="button small alert radius">Cancelar</button>
		   	</div>
	   	</div>

    	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>
</div>


<!-- Modal de edição de  Grupos-->
<div class="small-12 medium-12 large-12 columns">
	<div id="modalEditarGrupos" class="reveal-modal medium collapse"  data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	  <h3 id="modalTitle">Editar Grupo</h3>
	  <br/>
	  	<div class="small-12 medium-12 large-12 columns">
		  	<ul class="tabs" data-tab role="tablist" id="titleTab">
	  			<li class="tab-title {{activeEditIdent}}" role="presentation"><a  href="" ng-click="abaEditIdentificacao()" role="tab" tabindex="0">Identificação</a></li>
	  			<li class="tab-title {{activeEditClass}}" role="presentation"><a href="" ng-click="abaEditClassificacao()" role="tab" tabindex="0">Classificação</a></li>
			</ul>
			
			<div class="tabs-content" id="titleTab2">
	  		  <div role="tabpanel" class="content {{abaEditIdent}}">
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-2 medium-2 large-2 columns">
	    				Código
	    			</div>
	    			<div class="small-6 medium-6 large-10 columns">
	    				Descrição
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-2 medium-2 large-2 columns">
	    				<input class="form-control" type="text" ng-model="grupoedit.grupo" />
	    			</div>
	    			<div class="small-6 medium-6 large-10 columns">
	    				<input class="form-control" type="text" ng-model="grupoedit.descricao" />
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-4 medium-4 large-4 large-offset-2 columns">
	    				Abreviação
	    			</div>
	    			<div class="small-3 medium-3 large-3 large-offset-1 columns">
	    				Desconto Máximo
	    			</div>
	    			<div class="small-3 medium-3 large-2 columns">
	    				Markup
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-5 medium-5 large-5 large-offset-2 columns">
	    				<input class="form-control" type="text" ng-model="grupoedit.abreviacao" />
	    			</div>
	    			<div class="small-3 medium-3 large-3 columns">
	    				<input class="form-control" type="text" ng-model="grupoedit.descontoMaximo" />
	    			</div>
	    			<div class="small-3 medium-3 large-2 columns">
	    				<input class="form-control" type="text" ng-model="grupoedit.markupPadrao" />
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-4 medium-4 large-4 large-offset-2 columns">
	    				Observação
	    			</div>
	    			<div class="small-3 medium-3 large-3 large-offset-1 columns">
	    				Imobilizado
	    			</div>
	    			<div class="small-3 medium-3 large-2 columns">
	    				Inventario
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-5 medium-5 large-5 large-offset-2 columns">
	    				<input class="form-control" type="text" ng-model="grupoedit.observacao" />
	    			</div>
	    			<div class="small-3 medium-3 large-3 columns">
	    				<div class="switch round">
						  <input id="imobilizadoedit" type="checkbox" ng-model="grupoedit.isImobilizado">
						  <label for="imobilizadoedit"></label>
						</div>
	    			</div>
	    			<div class="small-3 medium-3 large-2 columns">
	    				<div class="switch round">
						  <input id="inventarioedit" type="checkbox" ng-model="grupoedit.isInventario">
						  <label for="inventarioedit"></label>
						</div>
	    			</div>
	    		</div>
			  </div>
			  <div role="tabpanel" id="abaClasse" class="content {{abaEditClass}}">
			  	<div class="small-12 medium-12 large-12 columns">
			    	<div class="small-4 medium-4 large-4 columns">
	    				Tipo de Produto
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				Aliquota de Impressora Fiscal
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				Classificacao Fiscal	
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-4 medium-4 large-4 columns">
	    				<select ng-model="grupoedit.tipoProduto">
				          <option ng-repeat="apendice in apendices" value="{{apendice.elementoTabela}}">{{apendice.apendiceElemento}}</option>	
       					</select>
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				<select ng-model="grupoedit.aliquotaImpressoraFiscal">
				          <option ng-repeat="aliquota in aliquotas" value="{{aliquota.elementoTabela}}">{{aliquota.elementoTabela+' - '+aliquota.descricaoElemento }}</option>
       					</select>
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				<select ng-model="grupoedit.classfiscal">
				          <option value="husker">Husker</option>
				          <option value="starbuck">Starbuck</option>
       					</select>
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
			    	<div class="small-4 medium-4 large-4 columns">
	    				Classificacao da Despesa
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				Classificação da Receita
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				Comissao	
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-4 medium-4 large-4 columns">
	    				<select ng-model="grupoedit.fluxoSaida">
	    					<option ng-repeat="fluxo in fluxos" value="{{fluxo.codigoFluxo}}">{{fluxo.codigoFluxo +' - '+ fluxo.descricao}}</option>
	    				</select>
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				<select ng-model="grupoedit.fluxoEntrada">
	    					<option ng-repeat="fluxo in fluxos" value="{{fluxo.codigoFluxo}}">{{fluxo.codigoFluxo +' - '+ fluxo.descricao}}</option>
	    				</select>
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				<select ng-model="grupoedit.comissao">
				          <option ng-repeat="comissao in comissoes" value="{{comissao.elementoTabela}}">{{comissao.apendiceElemento}}</option>
       					</select>
	    			</div>
	    		</div>
			  </div>	  
			</div>
	   	</div>

	   	<div class="small-12 medium-12 large-12 columns">
		   	<div class="small-4 medium-4 large-2 large-offset-7 columns" style="position:relative;left:2em;">
		   		<button ng-click="atualizarGrupo(grupoedit)" class="button small info radius">Atualizar</button>
		   	</div>
		   	<div class="small-4 medium-4 large-3 columns" style="position:relative;left:2.8em;">
		   		<button ng-click="fecharModalEdit()" class="button small alert radius">Cancelar</button>
		   	</div>
	   	</div>

    	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>
</div>

<!-- modal de exclusao -->
<div id="modalExcluir" class="reveal-modal small collapse"  data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h3 id="modalTitle">Remover Grupo</h3><br/>
	<div class="large-12 columns" style="position:relative;left:0.3em;">
		<h5>Deseja remover o grupo {{gruporemove}} ?</h5>	
	</div>
	<div class="large-6 large-offset-8 columns">
		<button type="button" class="button small info" ng-click="deletarGrupo(grupoid)">Confirmar Exclusão</button>
	</div>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
