<br/>
<div class="medium-12 columns">
<div class="medium-7 medium-offset-1 columns">
	<h3 class="titulo">{{nome}}</h3>	
</div>
	<div class="medium-1 columns">
		<a id="iconeadd" href="" ng-click="show('cadastrar')">
			<img src="img/tables/add.png">
		</a>	
		<a href="" ng-click="abrindoSearch()" id="iconepesquisar">
			<img src="img/tables/search.png">
		</a>	
	</div>

<div class="medium-3 columns end">
	<div class="{{classe}}" ng-show="opensearch">
		<div class="medium-4 columns">
			<select id="selectSearch" ng-click="filtrarPorSelect()">
				<option value="undefinied"></option>
				<option value="codigo">Código</option>
				<option value="descricao">Descrição</option>
				<option value="abreviacao">Abreviação</option>
			</select>
		</div>
		<div class="medium-8 columns" id="inputSearch">
			<input type="text" ng-model="buscarGrupos[filters]" id="campoBuscar" placeholder="Pesquisar..." disabled />
		</div>
	</div>
</div>
</div>

<div class="medium-12 columns">
	<table class="medium-8 medium-offset-1 columns">
		<tr class="trbody">
			<th>Código</th>
			<th>Descrição</th>
			<th>Abreviação</th>
			<th>Tipo</th>
			<th>Ações</th>
		</tr>

		<tr ng-repeat="teste in filiais | filter:buscarGrupos">
			<td class="tdvalue">{{teste.grupo}}</td>
			<td class="tdvalue">{{teste.descricao}}</td>
			<td class="tdvalue">{{teste.abreviacao}}</td>
			<td class="tdvalue">{{teste.tipoProduto}}</td>
			<td>
				<a href="" ng-click="openModalExcluir(teste.descricao, teste.grupo)"><img src="img/tables/remover.png"></a>
				<a href="" ng-click="show('editar', teste.grupo)"><img src="img/tables/editar.png"></a>
				<img src="img/tables/tributar.png">
			</td>
		</tr>
	</table>
	<div class="medium-3 columns" style="position:relative;top:20em;">
		<nav ng-show="totalPorPagina < totalRegistro">
	        <ul class="pagination">
	         <a ng-click="prevPage(anterior)" ng-hide="prevDisable" id="prevpage"><img src="img/tables/prev.png"></a>
	            <div id="organizarPaginate">
		            <li ng-repeat="j in pagina">
		                <a href ng-click="loadListPagination($index)" ng-if='$index<=2' id="loadpaginate">
		                    {{showPaginas[$index]}}
		                    <div id="marcador">
		                    		<span>{{showPaginas[$index]==atual ? '¨' : ''}}</span>
		              		</div>
		                </a>
		            </li>
	            </div>
	         <a ng-click="nextPage(proxima)" id="nextpage" ng-hide="nextDisable"><img src="img/tables/next.png"></a>	
	        </ul>
	    </nav>
	</div>

</div>

<!-- Modal de cadastro e edição de  Grupos-->
<div id="modalGrupos" class="reveal-modal medium collapse"  data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h3 id="modalTitle">
		{{titleModal}} Grupo
		<a ng-click="fecharModal()">
			<img src="img/publico/ic_remove.png">
		</a>
	</h3>
	<br/>
	<div class="row">
	  	<div class="medium-12 columns">
		  	<ul class="tabs" data-tab role="tablist" id="titleTab">
	  			<li class="tab-title {{activeIdent}}">
	  				<a href="" ng-click="abaIdentificacao()" role="tab" tabindex="0">Identificação</a>
	  			</li>
	  			<li class="tab-title {{activeClass}}">
	  				<a href="" ng-click="abaClassificacao()" role="tab" tabindex="0">Classificação</a>
	  			</li>
			</ul>
			
			<div class="tabs-content" id="titleTab2">
	  		  	<div role="tabpanel" class="content {{abaIdent}}">
	    			<div class="medium-12 columns">
	    				<div class="medium-2 columns">
	    					<label>Código</label>
		    				<input class="form-control" type="text" ng-model="grupo.grupo" />
	    				</div>
	    				<div class="medium-10 columns">
	    					<label>Descrição</label>
		    				<input class="form-control" type="text" ng-model="grupo.descricao" />
	    				</div>
	    			</div>
		    		<div class="medium-12 columns">
		    			<div class="medium-4 medium-offset-2 columns">
		    				<label>Abreviação</label>
		    				<input class="form-control" type="text" ng-model="grupo.abreviacao" />
		    			</div>
		    			<div class="medium-3 medium-offset-1 columns">
		    				<label>Desconto Máximo</label>
		    				<input class="form-control" type="text" ng-model="grupo.descontoMaximo" />
		    			</div>
		    			<div class="medium-2 columns">
		    				<label>Markup</label>
		    				<input class="form-control" type="text" ng-model="grupo.markupPadrao" />
		    			</div>
		    		</div>
		    		<div class="medium-12 columns">
		    			<div class="medium-4 medium-offset-2 columns">
		    				<label>Observação</label>
		    				<input class="form-control" type="text" ng-model="grupo.observacao" />
		    			</div>
		    			<div class="medium-3 medium-offset-1 columns">
		    				<label>Imobilizado</label>
		    				<div class="switch round">
								<input id="imobilizadoedit" type="checkbox" ng-model="grupo.isImobilizado">
								<label for="imobilizadoedit"></label>
							</div>
		    			</div>
		    			<div class="medium-2 columns">
		    				<label>Inventario</label>
		    				<div class="switch round" id="lainventarioedit" >
								<input id="inventarioedit" type="checkbox" ng-model="grupo.isInventario" onfocus="document.getElementById('lainventarioedit').style.border = '1px dashed';">
								<label for="inventarioedit"></label>
							</div>
		    			</div>
		    		</div>
				</div>
				<div role="tabpanel" id="abaClasse" class="content {{abaClass}}">
				  	<div class="medium-12 columns">
				    	<div class="medium-4 columns">
		    				<label>Tipo de Produto</label>
		    				<select ng-model="grupo.tipoProduto">
						        <option ng-repeat="apendice in apendices" value="{{apendice.elementoTabela}}">
						        	{{apendice.apendiceElemento}}
						        </option>
		   					</select>
		    			</div>
		    			<div class="medium-4 columns">
		    				<label>Aliquota de Impressora Fiscal</label>
		    				<select ng-model="grupo.aliquotaImpressoraFiscal">
						        <option ng-repeat="aliquota in aliquotas" value="{{aliquota.elementoTabela}}">
						        	{{aliquota.elementoTabela+' - '+aliquota.descricaoElemento }}
						        </option>
		   					</select>
		    			</div>
		    			<div class="medium-4 columns">
		    				<label>Classificacao Fiscal</label>
		    				<select ng-model="grupo.classfiscal">
						        <option value="husker">Husker</option>
						        <option value="starbuck">Starbuck</option>
		   					</select>
		    			</div>
		    		</div>
		    		<div class="medium-12 columns">
				    	<div class="medium-4 columns">
		    				<label>Classificacao da Despesa</label>
		    				<select ng-model="grupo.fluxoSaida">
		    					<option ng-repeat="fluxo in fluxos" value="{{fluxo.codigoFluxo}}">
		    						{{fluxo.codigoFluxo +' - '+ fluxo.descricao}}
		    					</option>
		    				</select>
		    			</div>
		    			<div class="medium-4 columns">
		    				<label>Classificação da Receita</label>
		    				<select ng-model="grupo.fluxoEntrada">
		    					<option ng-repeat="fluxo in fluxos" value="{{fluxo.codigoFluxo}}">
		    						{{fluxo.codigoFluxo +' - '+ fluxo.descricao}}
		    					</option>
		    				</select>
		    			</div>
		    			<div class="medium-4 columns">
		    				<label>Comissao</label>
		    				<select ng-model="grupo.comissao">
						        <option ng-repeat="comissao in comissoes" value="{{comissao.elementoTabela}}">
						        	{{comissao.apendiceElemento}}
						        </option>
		   					</select>
		    			</div>
		    		</div>
				</div>	  
			</div>
		</div>
   	</div>
   	<div class="row">
	   	<div class="medium-12 columns">
		   	<div class="medium-2 medium-offset-8 columns" style="padding-right: 0">
		   		<button ng-click="salvar(grupo)" class="btPrimary">{{nameButton}}</button>
		   	</div>
		   	<div class="medium-2 columns" style="padding-right: 0">
		   		<button ng-click="fecharModal()" class="btDanger">Cancelar</button>
		   	</div>
	   	</div>
   	</div>
</div>

<!-- modal de exclusao -->
<div id="modalExcluir" class="reveal-modal small collapse"  data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h3 id="modalTitle">Remover Grupo</h3><br/>
	<div class="medium-12 columns" style="float:right;">
		<h5>Deseja remover o grupo {{gruporemove}} ?</h5>	
	</div>
	<div class="medium-3 medium-offset-5 columns" style="padding:0.3; margin-left:52% !important;" >
		<button type="button" class="btDanger" ng-click="deletarGrupo(grupoid)">Confirmar</button>
	</div>
	<div class="medium-3 columns" style="padding:0.3;margin-left:-3% !important;">
		<button type="button" class="btPrimary" ng-click="closeExcluir()">Cancelar</button>
	</div>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
