<br/>

<div class="small-3 medium-3 large-3 large-offset-1 columns">
	<h3 class="titulo">{{nome}}</h3>	
</div>
<div class="small-1 medium-1 large-1 large-offset-4 columns">
	<a href="" ng-click="openModalGrupo('cadastrar')">
		<img src="img/tables/add.png">
	</a>	
</div>
<div style="position:relative;right:5em;" class="small-2 medium-2 large-1 columns">
	<a href="">
		<img src="img/tables/search.png">
	</a>	
</div>

<div class="small-12 medium-12 large-12 columns">
	<table class="small-8 medium-8 large-8 large-offset-1 columns">
		<tr class="trbody">
			<th>Código</th>
			<th>Descricao</th>
			<th>Abreviacao</th>
			<th>Tipo</th>
			<th>Ações</th>
		</tr>
		<tr ng-repeat="teste in lista">
			<td class="tdvalue">{{teste.grupo}}</td>
			<td class="tdvalue">{{teste.descricao}}</td>
			<td class="tdvalue">{{teste.abreviacao}}</td>
			<td class="tdvalue">{{teste.tipoProduto}}</td>
			<td>
				<a href="" ng-click="deletarGrupo(teste.grupo)"><img src="img/tables/remover.png"></a>
				<a href="" ng-click="openModalGrupo('editar', teste.grupo)"><img src="img/tables/editar.png"></a>
				<img src="img/tables/tributar.png">
			</td>
		</tr>
	</table>
	<div class="small-3 medium-3 large-3 columns">
	<nav ng-show="totalPorPagina < totalRegistro">
        <ul class="pagination">
            <a ng-click="prevPage($index-1)" ng-class="{disabled: $index == 1}"><img src="img/tables/prev.png"></a>
            <li ng-repeat="j in pagina">
                <a href ng-click="loadListPagination($index)" style="background-color: #777;">
                    {{$index + 1}}
                </a>
            </li>
            <a ng-click="nextPage($index+1)" ng-class="{disabled: $index == totalPorPagina}"><img src="img/tables/next.png"></a>
        </ul>
    </nav>
</div>
</div>

<!-- Modal de cadastro de  Grupos-->
<div class="small-12 medium-12 large-12 columns">
	<div id="modalGrupos" class="reveal-modal medium collapse"  data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	  <h3 id="modalTitle">Adicionar Grupo</h3>
	  <br/>
	  	<div class="small-12 medium-12 large-12 columns">
		  	<ul class="tabs" data-tab role="tablist" id="titleTab">
	  			<li class="tab-title {{activeIdent}}" role="presentation"><a  href="" ng-click="abaIdentificacao()" role="tab" tabindex="0">Identificação</a></li>
	  			<li class="tab-title {{activeClass}}" role="presentation"><a href="" ng-click="abaClassificacao()" role="tab" tabindex="0">Classificação</a></li>
			</ul>
			
			<div class="tabs-content" id="titleTab2">
	  		  <div role="tabpanel" class="content {{abaIdent}}">
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-2 medium-2 large-2 columns">
	    				Código
	    			</div>
	    			<div class="small-6 medium-6 large-10 columns">
	    				Descrição
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-2 medium-2 large-2 columns">
	    				<input class="form-control" type="text" ng-model="grupo.grupo" />
	    			</div>
	    			<div class="small-6 medium-6 large-10 columns">
	    				<input class="form-control" type="text" ng-model="grupo.descricao" />
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-4 medium-4 large-4 large-offset-2 columns">
	    				Abreviação
	    			</div>
	    			<div class="small-3 medium-3 large-3 large-offset-1 columns">
	    				Desconto Máximo
	    			</div>
	    			<div class="small-3 medium-3 large-2 columns">
	    				Markup
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-5 medium-5 large-5 large-offset-2 columns">
	    				<input class="form-control" type="text" ng-model="grupo.abreviacao" />
	    			</div>
	    			<div class="small-3 medium-3 large-3 columns">
	    				<input class="form-control" type="text" ng-model="grupo.descontoMaximo" />
	    			</div>
	    			<div class="small-3 medium-3 large-2 columns">
	    				<input class="form-control" type="text" ng-model="grupo.markupPadrao" />
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-4 medium-4 large-4 large-offset-2 columns">
	    				Observação
	    			</div>
	    			<div class="small-3 medium-3 large-3 large-offset-1 columns">
	    				Imobilizado
	    			</div>
	    			<div class="small-3 medium-3 large-2 columns">
	    				Inventario
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-5 medium-5 large-5 large-offset-2 columns">
	    				<input class="form-control" type="text" ng-model="grupo.observacao" />
	    			</div>
	    			<div class="small-3 medium-3 large-3 columns">
	    				<div class="switch round">
						  <input id="radioimobilizado" type="checkbox" ng-model="grupo.isImobilizado">
						  <label for="radioimobilizado"></label>
						</div>
	    			</div>
	    			<div class="small-3 medium-3 large-2 columns">
	    				<div class="switch round">
						  <input id="radioinventario" type="checkbox" ng-model="grupo.isInventario">
						  <label for="radioinventario"></label>
						</div>
	    			</div>
	    		</div>
			  </div>
			  <div role="tabpanel" id="abaClasse" class="content {{abaClass}}">
			  	<div class="small-12 medium-12 large-12 columns">
			    	<div class="small-4 medium-4 large-4 columns">
	    				Tipo de Produto
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				Aliquota de Impressora Fiscal
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				Classificacao Fiscal	
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-4 medium-4 large-4 columns">
	    				<select ng-model="grupo.tipoProduto">
				          <option value="husker">Husker</option>
				          <option value="starbuck">Starbuck</option>
       					</select>
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				<select ng-model="grupo.aliquotaImpressoraFiscal">
				          <option value="husker">Husker</option>
				          <option value="starbuck">Starbuck</option>
       					</select>
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				<select ng-model="grupo.classfiscal">
				          <option value="husker">Husker</option>
				          <option value="starbuck">Starbuck</option>
       					</select>
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
			    	<div class="small-4 medium-4 large-4 columns">
	    				Classificacao da Despesa
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				Classificação da Receita
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				Comissao	
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-4 medium-4 large-4 columns">

	    				<select ng-model="grupo.classificacaodespesa" ng-options="fluxo.codigoFluxo + ' - ' + fluxo.descricao for fluxo in fluxos">
	    					<option value="">Selecione um item</option>
	    				</select>
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				<select ng-model="grupo.classificacaoreceita" ng-options="fluxo.codigoFluxo + ' - ' + fluxo.descricao for fluxo in fluxos">
	    					<option value="">Selecione um item</option>
	    				</select>
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				<select ng-model="grupo.comissao">
				          <option value="husker">Husker</option>
				          <option value="starbuck">Starbuck</option>
       					</select>
	    			</div>
	    		</div>
			  </div>	  
			</div>
	   	</div>

	   	<div class="small-12 medium-12 large-12 columns">
		   	<div class="small-4 medium-4 large-2 large-offset-7 columns" style="position:relative;left:2em;">
		   		<button ng-click="cadastrarGrupo(grupo)" class="button small info radius">Cadastrar</button>
		   	</div>
		   	<div class="small-4 medium-4 large-3 columns" style="position:relative;left:2.8em;">
		   		<button ng-click="fecharModal()" class="button small alert radius">Cancelar</button>
		   	</div>
	   	</div>

    	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>
</div>


<!-- Modal de edição de  Grupos-->
<div class="small-12 medium-12 large-12 columns">
	<div id="modalEditarGrupos" class="reveal-modal medium collapse"  data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	  <h3 id="modalTitle">Editar Grupo</h3>
	  <br/>
	  	<div class="small-12 medium-12 large-12 columns">
		  	<ul class="tabs" data-tab role="tablist" id="titleTab">
	  			<li class="tab-title {{activeEditIdent}}" role="presentation"><a  href="" ng-click="abaEditIdentificacao()" role="tab" tabindex="0">Identificação</a></li>
	  			<li class="tab-title {{activeEditClass}}" role="presentation"><a href="" ng-click="abaEditClassificacao()" role="tab" tabindex="0">Classificação</a></li>
			</ul>
			
			<div class="tabs-content" id="titleTab2">
	  		  <div role="tabpanel" class="content {{abaEditIdent}}">
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-2 medium-2 large-2 columns">
	    				Código
	    			</div>
	    			<div class="small-6 medium-6 large-10 columns">
	    				Descrição
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-2 medium-2 large-2 columns">
	    				<input class="form-control" type="text" ng-model="grupoedit.grupo" />
	    			</div>
	    			<div class="small-6 medium-6 large-10 columns">
	    				<input class="form-control" type="text" ng-model="grupoedit.descricao" />
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-4 medium-4 large-4 large-offset-2 columns">
	    				Abreviação
	    			</div>
	    			<div class="small-3 medium-3 large-3 large-offset-1 columns">
	    				Desconto Máximo
	    			</div>
	    			<div class="small-3 medium-3 large-2 columns">
	    				Markup
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-5 medium-5 large-5 large-offset-2 columns">
	    				<input class="form-control" type="text" ng-model="grupoedit.abreviacao" />
	    			</div>
	    			<div class="small-3 medium-3 large-3 columns">
	    				<input class="form-control" type="text" ng-model="grupoedit.descontoMaximo" />
	    			</div>
	    			<div class="small-3 medium-3 large-2 columns">
	    				<input class="form-control" type="text" ng-model="grupoedit.markupPadrao" />
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-4 medium-4 large-4 large-offset-2 columns">
	    				Observação
	    			</div>
	    			<div class="small-3 medium-3 large-3 large-offset-1 columns">
	    				Imobilizado
	    			</div>
	    			<div class="small-3 medium-3 large-2 columns">
	    				Inventario
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-5 medium-5 large-5 large-offset-2 columns">
	    				<input class="form-control" type="text" ng-model="grupoedit.observacao" />
	    			</div>
	    			<div class="small-3 medium-3 large-3 columns">
	    				<div class="switch round">
						  <input id="radioimobilizado" type="checkbox" ng-model="grupoedit.isImobilizado">
						  <label for="radioimobilizado"></label>
						</div>
	    			</div>
	    			<div class="small-3 medium-3 large-2 columns">
	    				<div class="switch round">
						  <input id="radioinventario" type="checkbox" ng-model="grupoedit.isInventario">
						  <label for="radioinventario"></label>
						</div>
	    			</div>
	    		</div>
			  </div>
			  <div role="tabpanel" id="abaClasse" class="content {{abaEditClass}}">
			  	<div class="small-12 medium-12 large-12 columns">
			    	<div class="small-4 medium-4 large-4 columns">
	    				Tipo de Produto
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				Aliquota de Impressora Fiscal
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				Classificacao Fiscal	
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-4 medium-4 large-4 columns">
	    				<select ng-model="grupoedit.tipoProduto">
				          <option value="husker">Husker</option>
				          <option value="starbuck">Starbuck</option>
       					</select>
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				<select ng-model="grupoedit.aliquotaImpressoraFiscal">
				          <option value="husker">Husker</option>
				          <option value="starbuck">Starbuck</option>
       					</select>
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				<select ng-model="grupoedit.classfiscal">
				          <option value="husker">Husker</option>
				          <option value="starbuck">Starbuck</option>
       					</select>
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
			    	<div class="small-4 medium-4 large-4 columns">
	    				Classificacao da Despesa
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				Classificação da Receita
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				Comissao	
	    			</div>
	    		</div>
	    		<div class="small-12 medium-12 large-12 columns">
	    			<div class="small-4 medium-4 large-4 columns">

	    				<select ng-model="grupoedit.classificacaodespesa" ng-options="fluxo.codigoFluxo + ' - ' + fluxo.descricao for fluxo in fluxos">
	    					<option value="">Selecione um item</option>
	    				</select>
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				<select ng-model="grupoedit.classificacaoreceita" ng-options="fluxo.codigoFluxo + ' - ' + fluxo.descricao for fluxo in fluxos">
	    					<option value="">Selecione um item</option>
	    				</select>
	    			</div>
	    			<div class="small-4 medium-4 large-4 columns">
	    				<select ng-model="grupoedit.comissao">
				          <option value="husker">Husker</option>
				          <option value="starbuck">Starbuck</option>
       					</select>
	    			</div>
	    		</div>
			  </div>	  
			</div>
	   	</div>

	   	<div class="small-12 medium-12 large-12 columns">
		   	<div class="small-4 medium-4 large-2 large-offset-7 columns" style="position:relative;left:2em;">
		   		<button ng-click="atualizarGrupo(grupoedit)" class="button small info radius">Atualizar</button>
		   	</div>
		   	<div class="small-4 medium-4 large-3 columns" style="position:relative;left:2.8em;">
		   		<button ng-click="fecharModal()" class="button small alert radius">Cancelar</button>
		   	</div>
	   	</div>

    	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>
</div>




