
#abaClasse{
	height: 12em;
}

select{
	font-size: 1.1em !important;
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif !important;
	color: #4F3E47 !important;
	height: 2.1em !important;
	padding: 0px !important;
	background-color: #DDDDDB !important;
}

#modalEditarGrupos input{
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif !important;
	color: #4F3E47 !important;
	height: 2em;
	font-size: 1em;
	padding: 1px;
}	

#selectSearch{
	font-size: 14px !important;
	font-family: sans-serif !important;
}

#inputSearch input{
	height: 2em;
	font-size: 15px!important;
	font-family: sans-serif !important;
}   

#marcador{
	width:2em;
	background-color: #DCDCDC;
	position:relative;
	bottom:1.6em;
	right:12px;z-index:-1;
	border-radius: 8px;
	color: #4F3E47;
}
#marcador span{
	position: relative;
	left: 12px;
	top:0em;
	background-color: #DCDCDC;
}

#loadpaginate{
	font-size:18px;width:2em;height:30px;
	border-radius: 5px;color: #4F3E47;position:relative;
}

#modalTitle{
	font-family: "Open Sans";
	color: #4F3E47;	
	font-size: 24px;
	margin: 0 0.6em;
}

#modalTitle a{
	float: right;
}

@media screen and (min-width: 1275px){	
	#prevpage{
		position:absolute;right:15.4em;
	}
	#nextpage{
		position:absolute;right:4em;
	}
	#organizarPaginate{
		position:absolute;left:9em;
	}
	#iconepesquisar{
		position:relative;left:2.5em;
	}
	#iconeadd{
		position:relative;left:2em;
	}
}
@media screen and (max-width: 1274px){	
	#prevpage{
		position:absolute;right:11em;
	}
	#nextpage{
		position:absolute;right:0.2em;
	}
	#organizarPaginate{
		position:absolute;left:5em;
	}
	#iconepesquisar{
		position:relative;bottom:2em;left:2.5em;
	}
}
.titulo{
	position: relative; right:0.6em;
}
.reveal-modal{
	padding: 0.7em 0 !important;
}
.tabs-content{
	margin-bottom: 1.4em !important;
}