#modalGrupos input{
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif !important;
	color: #4F3E47 !important;
}
#abaClasse{
	height: 12em;
}

#modalGrupos select{
	font-size: 1.1em !important;
	height: 2.4em !important;
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif !important;
	color: #4F3E47 !important;
	line-height: normal !important;
}