#modalGrupos input{
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif !important;
	color: #4F3E47 !important;
}
#abaClasse{
	height: 12em;
}

select{
	font-size: 1.1em !important;
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif !important;
	color: #4F3E47 !important;
	height: 2.1em !important;
	padding: 0px !important;
	background-color: #DDDDDB !important;
}

#modalGrupos #titleTab2 input{
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif !important;
	color: #4F3E47 !important;
	height: 2em;
	font-size: 1em;
	padding: 1px;
}

#modalEditarGrupos input{
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif !important;
	color: #4F3E47 !important;
	height: 2em;
	font-size: 1em;
	padding: 1px;
}	

#selectSearch{
	font-size: 14px !important;
	font-family: sans-serif !important;
}

#inputSearch input{
	height: 2em;
	font-size: 15px!important;
	font-family: sans-serif !important;
}   